 p {
	line-height: 1.75;
	font-size: 18px;
}

body {
	font-family:Times;
	margin:0px;
	padding:0px;
	max-width: 2200px;
	margin: 0 auto;
	float: none;
}

#menu {
	width:"device-width";
	height:125px;
	position:sticky;
	top:0px;
	background-color:#FFFFFF;
	z-index:1;
}

#logo {
	position:relative;
	top:20px;
	left:10px;
	height:auto;
	width:270px;
}

#options {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position:absolute;
	bottom:10px;
}


#option1,#option2,#option3,#option4,#option6,#option7 {
	float:left;
	margin-right:35px;
	margin-left:52px;
	padding:5px;
}

#option5 {
	float:left;
	margin-right:35px;
	margin-left:52px;
	padding:5px;
	display:none;
}

.pagename {
	text-decoration:none;
	color:black;
	font-size:20px;

	
}

.pagename:hover {
	color:#479e45;
	text-decoration:underline;
}














.dropdown {
    margin-left: 200px;
    margin-top:70px;
    overflow: hidden;
}

.dropdown2 {
    margin-left: 700px;
    margin-top:0px;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown2 .dropbtn2 {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus, .navbar a:hover, .dropdown2:hover .dropbtn2, .dropbtn2:focus {
    background-color: #479e45;
}

.dropdown-content,.dropdown-content2  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#button,#button2 {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
     text-decoration: none;
     font-size: 14pt;
}

#button:hover , #button2:hover {
	color:#479e45;
}


/*End of Header*/

#header {
	width:"device-width";
	height:410px;
	/*background-color:#E0E0E0;  4  6  8   */
	text-align:center;
	margin:0px;
	background-image:url("RubberTiredATV.jpg");
	opacity:70%;
}

#bigHeader {
	color:#FFFFFF;
	padding-top:150px;
	padding-bottom:100px;
	font-size:70pt;
	margin:0px;

}

#Overview {
	width:"device-width";
	height: 500px;
	margin:0px;
	background-color: #e6e4e2;
}

#spacer1 {
	float:left;
	width:10%;
	height:500px;
}

#spacer2 {
	float:right;
	width:20%;
	height:500px;
}


#imagediv {
	float:left;
	width:40%;
	height:460px;
	text-align:center;
	padding-top:40px;
}

#guyswithrig {
	max-height:90%;
	max-width:90%;
	border-radius: 25px;

}

#textdiv {
	float:left;
	width:50%;
	height:460px;
	margin-left: 00px;
	padding-top:40px;
	text-align:left;
}

#textcontainer{
	margin-left: 10%;
	margin-right: 10%;
}


#menu1,#menu2 {

	width:100%;
	height:320px;
	padding-top: 0px;
	padding-right: 0px;
}


#spacer3,#spacer5 {
	float:left;
	width:12%;
	height:250px;
}

#spacer4,#spacer6 {
	float:right;
	width:10%;
	height:250px;
}

#projects {
	float:left;
	width:35%;
	height: 250px;
	opacity: 0.4;
	background-image:url("airportbackground.jpg");
	z-index: -2;
	text-align:center;
	margin-top: 40px;
	border-radius: 15px;
	transition: opacity 1.6s;


}

#aboutUs {
	float:left;
	width:35%;
	height: 250px;
	opacity: 0.4;
	background-image:url("orangeman.jpg");
	z-index: -2;
	text-align:center;
	margin-top: 40px;
	border-radius: 15px;
	transition: opacity 1.6s;


}

.smalldescription {
	margin: 30px;
	padding: 10px;

}

#careers {
	float:right;
	width:35%;
	height:250px;
	opacity: 0.4;
	margin-top: 40px;
	text-align:center;
	border-radius: 15px;
	margin-left: 50px;
	transition: opacity 1.6s;
	margin-right: 110px;
	background-image:url("constructionsite.jpg");

}

#services {
	float:right;
	width:35%;
	height:250px;
	opacity: 0.4;
	margin-top: 40px;
	text-align:center;
	border-radius: 15px;
	margin-left: 50px;
	transition: opacity 1.6s;
	margin-right: 110px;
	background-image:url("landscape.jpg");

}

#services:hover,#careers:hover,#aboutUs:hover,#projects:hover{

	opacity:0.9;
}


#footer {
	height:400px;
	width:"device-width";
	background-color:#E0E0E0;
	text-align: center;
	padding-top: 20px;
}

#footlist_1,#footlist_2,#footlist_3 {
	height:300px;
	float:left;
	width:33%;
	padding-top: 20px;
}

#links {
	text-decoration:underline;
	color:black;
}

#links:hover{
	color:#479e45;
}

#linklist{
	list-style-type:none;
}

#aboutmenu,#servicesmenu,#projectsmenu,#careersmenu,#contactmenu {
	display:none;
}

/*MEDIA QUERY BREAKPOINT for header*/


@media (max-width: 420px) and (min-width: 0px){
	#aboutmenu,#contactmenu,#careersmenu,#projectsmenu,#servicesmenu {
		display:block;
	}

	#option2,#option3,#option4,#option6,#option7{
		display: none;
	}

	#option5 {
		display:block;
	}
	.dropdown2 {
    margin-left: 160px;
    margin-top:0px;
    overflow: hidden;
}
	#bigHeader{
    	font-size: 40pt;
    }


    #footlist_1,#footlist_2,#footlist_3 {
	height:250px;
	float:left;
	width:100%;
	padding-top: 20px;
	margin-left: -20px;
}

	#footer {
	height:900px;
	width:"device-width";
	background-color:#E0E0E0;
	text-align: center;
	padding-top: 20px;
}

	#bigHeader {
	color:#FFFFFF;
	padding-top:150px;
	padding-bottom:100px;
	font-size:50pt;
	margin:0px;

}
	#Overview {
	width:"device-width";
	height: 900px;
	margin:0px;
	background-color: #e6e4e2;
}
	.linkDesc{
	font-size: 8pt;
}
}


@media  (max-width: 531px) and (min-width: 420px){

	#aboutmenu,#contactmenu,#careersmenu,#projectsmenu,#servicesmenu {
		display:block;
	}

	#option2,#option3,#option4,#option6,#option7{
		display: none;
	}

	#bigHeader{
    	font-size: 40pt;
    }


	#option5 {
		display:block;
	}
	.dropdown2 {
    margin-left: 200px;
    margin-top:0px;
    overflow: hidden;
}


    #footlist_1,#footlist_2,#footlist_3 {
	height:250px;
	float:left;
	width:100%;
	padding-top: 20px;
	margin-left: -20px;
}

	#footer {
	height:900px;
	width:"device-width";
	background-color:#E0E0E0;
	text-align: center;
	padding-top: 20px;
}

	#Overview {
	width:"device-width";
	height: 800px;
	margin:0px;
	background-color: #e6e4e2;
}

	.linkDesc{
	font-size: 11pt;
}
}

@media  (max-width: 681px) and (min-width: 531px){

	#contactmenu,#careersmenu,#projectsmenu,#servicesmenu {
		display:block;
	}

	#option3,#option4,#option6,#option7{
		display: none;
	}


	#option5 {
		display:block;
	}
	.dropdown2 {
    margin-left: 370px;
    margin-top:0px;
    overflow: hidden;
}



    #footlist_1,#footlist_2,#footlist_3 {
	height:250px;
	float:left;
	width:100%;
	padding-top: 20px;
	margin-left: -20px;
}

	#footer {
	height:900px;
	width:"device-width";
	background-color:#E0E0E0;
	text-align: center;
	padding-top: 20px;
}

	#Overview {
	width:"device-width";
	height: 720px;
	margin:0px;
	background-color: #e6e4e2;
}
}

@media  (max-width: 862px) and (min-width: 681px){

	
	#option4,#option6,#option7{
		display: none;
	}

	#contactmenu,#careersmenu,#projectsmenu {
		display:block;
	}

	#option5 {
		display:block;
	}
	.dropdown2 {
    margin-left: 520px;
    margin-top:0px;
    overflow: hidden;
}


    #footlist_1,#footlist_2,#footlist_3 {
	height:250px;
	float:left;
	width:100%;
	padding-top: 20px;
	margin-left: -20px;
}

	#footer {
	height:900px;
	width:"device-width";
	background-color:#E0E0E0;
	text-align: center;
	padding-top: 20px;
}

	#Overview {
	width:"device-width";
	height: 630px;
	margin:0px;
	background-color: #e6e4e2;
}









}

@media  (max-width: 1000px) and (min-width: 862px){
	#option6,#option7{
		display: none;
	}

	#contactmenu,#careersmenu {
		display:block;
	}

	#option5 {
		display:block;
	}
	.dropdown2 {
    margin-left: 700px;
    margin-top:0px;
    overflow: hidden;
}


    #Overview {
	width:"device-width";
	height: 600px;
	margin:0px;
	background-color: #e6e4e2;
}


   
}

/*MEDIA QUERY BREAKPOINT for body*/


@media  (max-width: 1000px) and (min-width: 0px){
	#menu1,#menu2 {

		width:100%;
		height:600px;
		padding-right: 0px;
}

	#aboutUs{
		float:left;
		width:60%;
		height: 250px;
		opacity: 0.4;
		background-image:url("orangeman.jpg");
		z-index: -2;
		text-align:center;
		margin-top: 40px;
		border-radius: 15px;
		margin-left:21%;
		transition: opacity 1.6s;
	}

	#services{
		float:left;
		width:60%;
		height: 250px;
		opacity: 0.4;
		background-image:url("landscape.jpg");
		z-index: -2;
		text-align:center;
		margin-top: 40px;
		margin-left:21%;
		border-radius: 15px;
		transition: opacity 1.6s;
	}

	#projects{
		float:left;
		width:60%;
		height: 250px;
		opacity: 0.4;
		background-image:url("airportbackground.jpg");
		z-index: -2;
		text-align:center;
		margin-left:21%;
		border-radius: 15px;
		transition: opacity 1.6s;
	}

	#careers{
		float:left;
		width:60%;
		height: 250px;
		opacity: 0.4;
		background-image:url("constructionsite.jpg");
		z-index: -2;
		text-align:center;

		border-radius: 15px;
		margin-left:21%;
		transition: opacity 1.6s;
	}

	#spacer1 {
		display: none;

	}

	#textdiv,#imagediv {
		width:100%;
		height:200px;
	}

	#guyswithrig {
		max-height:70;
		max-width:70%;
		border-radius: 25px;

}

	#textcontainer{
	margin-left: 10%;
	margin-right: 10%;
}
}



